@model AddressBook.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
   
}
@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary()

   <fieldset>
      <legend>Resetting password </legend>
      <ol style="list-style:none">
         <li class="form-group">
            @Html.Label("Enter Temporary Password : ")
            @Html.PasswordFor(m => m.TempPassword, new { @class = "input-group" })
         </li>
         <li class="form-group">
            @Html.Label("Enter New Password : ")
            @Html.PasswordFor(m => m.Password, new { @class = "input-group" })
         </li>
         <li class="form-group">
            @Html.Label("Confirm Password : ")
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-group" })
         </li>
         @Html.HiddenFor(m => m.ReturnToken)
      </ol>
      <input type="submit" value="Reset" class="btn btn-primary"/>
   </fieldset>
<h2>@ViewBag.Message</h2>
}